  .divContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 12rem;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;   
    float: left; 
    margin-top: 1.5rem;
  }

  .liParrafo {
    margin-left: 1rem;
    margin-top: 2.5rem;
  }

  .parrafo{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    bottom: 0.1rem;
    left: 2rem;
  }

  a .parrafo{
    color: black;
    font-weight: 600;
  }

  .logo{
    border-radius: 10%;
  }

  .headerDiv a{
    text-decoration: none;
    color: #323561;
  }

  .btnReg, .btnSignin{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
    left: 9rem;
    margin-left: 5rem;
    border-radius: 8%;
    background-color: white;
    color: #1DBEB4;
    border-color: #1DBEB4;
    height: 2.5rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
  }

  button:hover{
    transform: scale(1.1);
    background-color: #4bb8b0a4;
    color: black;
  }

  @media screen and (max-width: 768px){
    
    .headerDiv{
      position: absolute;
      width: 100%;
      height: 9rem;
      border-radius: 5px;
      top: -500rem;
      left: 50%;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: 0 2px rgba(2, 15, 29, 0.904);
      transition:  0.5s ease-in-out;
    }

    .activeHeader{
      position: absolute;
      width: 100%;
      height: 9rem;
      border-radius: 5px;
      left: 50%;
      top: 3.2rem;
      transform: translate(-50%);
      z-index: 2000;
      background-color: #1DBEB4;
      box-shadow: 0 2px rgba(2, 15, 29, 0.904);
      transition:  0.5s ease-in-out;
  }

    .headerItem{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 0.5rem 0;
  }

  .activeHeader .btnReg, .btnSignin{
    position: relative;
    background-color: rgb(56, 59, 88);
    border: rgba(56, 59, 88, 0.616);
    border-radius: 10%;
    width: 90%;
    height: 2.5rem;
    font-size: 90%;
    font-weight: 800;
    cursor: pointer;
    left: 20%;
    top: 0rem;
  }

    .btnReg{
      top: 1rem;
  }

    .closeHeader{
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 25px;
      cursor: pointer;
  }

    .closeHeader:hover{
        color: #ffffff;
    }

    img{
      display: flex;
      width: 6%;
      border-radius: 15%;
      position: absolute;
      bottom: 50%;
      right: 94%;
      transform: translate(25%, 50%);
    }

}

    .toggleHeader .icon{
      cursor: pointer;
      font-size: 25px;
  }

    .toggleHeader .icon:hover{
        color: #ffffff;
    }

  @media screen and (min-width: 769px) {

    .toggleHeader, .closeHeader {
        display: none;
    }

    h3{
        position: absolute;
        font-size: 35px;
        left: 12%;
        top: auto;
    }
}