.form-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 6rem;
    flex-wrap: nowrap;
}

.labelMail, .labelPass{
    position: relative;
    color: black;
    font-weight: 700;
    top: auto;
    font-size: 1.2rem;
    left: auto;
}

.labelPass{
    top: 1rem;
}

h2{
    display: flex;
    justify-content: center;
    color: rgb(65, 206, 196);
    top: 4.5rem;
    right: auto;
    position: relative;
    font-weight: bolder;
    font-size: 2rem;
}


.inputMail, .inputPass {
    position: relative;
    width: 15rem;
    padding: 1rem;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px rgba(168, 168, 168, 0.904);
    color: black;
}

.inputPass{
    top: 1rem;
}

.formLogin input:hover{
    background-color: rgb(211, 211, 211);
}


.btnForm{
    position: relative;
    font-size: 1em;
    width: 6rem;
    height: 3.5rem;
    background-color: rgb(75, 212, 194);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    left: auto;
    top: 2rem;
}

.btnForm:hover{
    background-color: rgb(63, 226, 215);
}

.pLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 9rem;
}

.pLogin a {
    text-decoration: none;
    color: rgb(44, 44, 253);
    font-weight: bolder;
}

.pLogin a:hover{
    color: rgb(6, 215, 252);
}