.formRegistre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 6rem;
    flex-wrap: nowrap;
}

.labelRegistre1, .labelRegistre2, .labelRegistre3, .labelRegistre4, .labelRegistre5{
    position: relative;
    color: black;
    font-weight: 700;
    top: auto;
    font-size: 1.2rem;
    left: auto;
}

.inputRegistre1, .inputRegistre2, .inputRegistre3, .inputRegistre4, .inputRegistre5{
    position: relative;
    width: 20rem;
    padding: 1rem;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px rgba(168, 168, 168, 0.904);
    color: black;
}

.inputRegistre1, .labelRegistre1{
    right: 12rem;
}

.inputRegistre2, .labelRegistre2{
    bottom: 4.9rem;
    left: 12.5rem;
}

.inputRegistre3, .inputRegistre4, .inputRegistre5{
    bottom: 3.8rem;
}

.labelRegistre3, .labelRegistre4, .labelRegistre5{
    bottom: 3.8rem;
}

.formRegistre input:hover{
    background-color: rgb(211, 211, 211);
}

.btnRegistre{
    position: relative;
    font-size: 1em;
    width: 6rem;
    height: 3.5rem;
    background-color: rgb(75, 212, 194);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    left: auto;
    bottom: 2rem;
    cursor: pointer;
}

.btnRegistre:hover{
    background-color: rgb(63, 226, 215);
}

.pRegistre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 5rem;
}

.pRegistre a {
    text-decoration: none;
    color: rgb(44, 44, 253);
    font-weight: bolder;
    cursor: pointer;
}

.pRegistre a:hover{
    color: rgb(6, 215, 252);
}